/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Cutive Mono', monospace; */


/* variables */
:root{


  /* color */
  --danger: #fb6f78;
  --warm: #f4c152;
  --aspect: #828df8;

  /* dark theme */
  --primary: #b3c5ef;
  --secondary: #3abff8;
  --bg: #0f1729;
  --btn-text: #002b3d;

  /* light theme */
  --primary-light: #394e6a;
  --secondary-light: #057aff;
  --bg-light: #f0f6ff;
  --btn-text-light: #c6dfff;


  /* fonts */

  --font1: 'Roboto', sans-serif;
  --font2: 'Cutive Mono', monospace; 

  /*  */
}



body,p,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li{
  list-style-type: none;

}



/* base styles */
body{
  background: var(--bg);
  font-family: var(--font1);
  color: var(--primary);
  font-size: 16px;
}


.skill{
  padding: 10px 16px;
  cursor: pointer;
  user-select: none;
  background: rgba(255,255,255, 0.05);
  box-shadow: rgb(0 0 0 /15%) 0px 8px 32px;
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.2s ease-in-out 0s;
}
.skill:hover{
  background: rgba(255,255,255, 0.2);
}

.input::placeholder{
  color: var(--btn-text)
}